/*fix specifity issues in "bioPhoto h1" (what's wrong??)*/
/*http://stackoverflow.com/questions/19768794/custom-css-being-overridden-by-bootstrap-css*/

body{
 	background-color: rgb(209, 206, 213);
 }

header{
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		), url(flowers.jpg);
	background-position: center;	
	background-size: cover;
	height: 100vh;
	width: 100vw;
	text-align: center;
	padding-top: 40vh;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	font-family: "Raleway";
	font-size: 1.5em;
	position: relative;
}

.title h1{
	text-transform: uppercase;
	margin: 0;
	font-weight: 700;
	font-size: 2.5em;
}

hr{
	width: 500px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

header p{
	color: white;
}


#arrow{
	position: absolute;
	text-align: center;
	bottom: 5vh;
	font-size: 1.5em;
}

main{
	text-align: center;
	margin: auto;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
}

main p{
	color: black;
	font-size: 1.5em;
	font-family: "Merriweather";
}

#circle{
	padding-bottom: 5%;
}

#circle img{
	width: 100px;
	height: 100px;
}

#icons img{
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}	

.justified{
	text-align: left;
	font-size: 1em;
}

#bioPhoto h1{
	font-weight: 700;
	font-size: 3em;
}

#bioPhoto{
 	width: 60%;
 	padding-top: 2%;
/* 	padding-bottom: 4%;*/
 	margin: auto;
}

#bioPhoto img{
	width: 100%;
	height: auto;
}

.navbar{
	/*background-color: rgb(95, 113, 161);*/
	background-color: green;
}

/*fix up specificity*/
/*.navbar-nav > li > a{
	color: white;
}

.navbar-nav .navbar-brand{
	color: white;
}*/
 


#a{
	color: rgb(124, 136, 148);
	font-size: 5em;
	font-weight: 700;
}
#b{
	color: rgb(95, 113, 161);
	font-size: 5em;
	font-weight: 700;
}
#c{
	color: rgb(97, 106, 145);
	font-size: 5em;
	font-weight: 700;
}
#d{
	color: rgb(209, 206, 213);
	font-size: 5em;
	font-weight: 700;
}
#e{
	color: rgb(167, 171, 138);
	font-size: 5em;
	font-weight: 700;
}
#f{
	color: rgb(91, 101, 40);
	font-size: 5em;
	font-weight: 700;
}
#g{
	color: rgb(162, 164, 153);
	font-size: 5em;
	font-weight: 700;
}


/*124, 136, 148
95, 113, 161
97, 106, 145
209, 206, 213
167, 171, 138
91, 101, 40
162, 164, 153
*/



