/*fix specifity issues in "bioPhoto h1" (what's wrong??)*/
/*http://stackoverflow.com/questions/19768794/custom-css-being-overridden-by-bootstrap-css*/

body{
 	background-color: rgb(209, 206, 213);
 }

/*HOME PAGE*/
#homeHeader{
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		), url(flowers.jpg);
	background-position: center;	
	background-size: cover;
	height: 100vh;
	width: 100vw;
	text-align: center;
	padding-top: 40vh;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	font-family: "Raleway";
	font-size: 1.5em;
	position: relative;
}

#homeHeader h1{
	text-transform: uppercase;
	margin: 0;
	font-weight: 700;
	font-size: 2.5em;
}

hr{
	width: 500px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#homeHeader p{
	color: white;
}


#arrow{
	position: absolute;
	text-align: center;
	bottom: 5vh;
	font-size: 1.5em;
}

#homeBody{
	text-align: center;
	margin: auto;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#homeBody p{
	color: #333;
	font-size: 1.5em;
	font-family: "Merriweather";
}

#circle{
	padding-bottom: 5%;
}

#circle img{
	width: 100px;
	height: 100px;
}

#icons img{
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}	

/*PAGES*/
.bodyPage p{
	width: 50%;
	margin: 0 auto 20px auto;
	text-align: left;
	font-size: 1.25em;
	font-family: "Merriweather";
}

.bodyPage h1{
	font-weight: 700;
	font-size: 3em;
	margin: 65px 0 25px 0;
}

/*FIGURE OUT HOW TO STOP SCALING WHEN THE SCREEN IS SMALL ENOUGH (THE PHOTO GETS TOO SMALL)*/
/*FIGURE OUT HOW TO REMOVE THIS FROM ITS DIV??*/
#bioPhoto{
 	width: 40%;
 	margin: 0 auto 30px auto;
}

#bioPhoto img{
	width: 100%;
	height: auto;
}

/*NAVBAR*/
.navbar{
/*	background-color: rgb(95, 113, 161);*/
	background-color: rgb(97, 106, 145);
	font-family: "Raleway";
}

/*navbar links*/
.navbar-default .navbar-nav > li > a{
	color: white;
}

/*navbar links on hover*/
.navbar-default .navbar-nav > li > a:hover{
	/*color: #333;*/
	color: black;
}

/*navbar active link (home)*/
.navbar-default .navbar-nav>.active>a{
	/*0.9*.navbar*/
	/*background-color: rgb(86, 102, 145);*/
	background-color: rgb(87, 95, 131);
	color: white;
}

/*navbar active linke (home) on hover*/
.navbar-default .navbar-nav > .active > a:hover{
	/*1.15*.navbar*/
	/*background-color: rgb(109, 130, 185);*/
	background-color: rgb(112, 122, 167);
	/*color: #333;*/
	color: black;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

.navbar-default .navbar-toggle:hover{
	background-color: rgb(97, 106, 145);
}

.navbar-default .navbar-toggle:focus{
	background-color: rgb(97, 106, 145);
}




